<nav class="panel">
  <p class="panel-heading">Trends</p>
  <% @trends.each do |trend, count| %>
    <a class="panel-block">
      <%= link_to trend.join(","), trending_feed_path(hash_tag: trend.join(",")), class: "trending_feed" %>
    </a>
  <% end %>
</nav>
